{% extends 'base.html' %}
{% block content %}


<h5>Toppings</h5>
<div class="row">

    <div class="col-lg-8">
        <hr>
        <div class="box-element">
                <div class="cart-row">
                    <div style="flex:5"><a  class="btn btn-outline-dark" href="{% url 'add-topping' %}">Add new topping</a></div>
                </div>
            <hr>
            <div class="cart-row">
		        <div style="flex:2"><strong>Name</strong></div>
                <div style="flex:2"><strong>Action</strong></div>
            </div>
            {% for topping in toppings_list %}
            <div class="cart-row">
		        <div style="flex:2"><p>{{topping.name}} </p></div>
                <div style="flex:2"><p><a href = "{% url 'delete_topping' pk=topping.id%}?topping_name={{ topping.name }}"><button class="btn btn-outline-secondary add-btn">Delete</button></a></div>
            </div>



            {%endfor%}
        
        </div>

        
    </div>
</div>
{%endblock%}