{% extends 'base.html' %}
{% block title %}
    Update Account
{% endblock %}
{% block content %}
    <h2>Create Special Pizza</h2>
    {% if spec_pizza%}
        <p>{{spec_pizza.name}} {{spec_pizza.price}} Created</p>
    {% endif %}
      <div class="row">
        <div class="col-lg-12">
	    	<div class="box-element" id="form-wrapper">
                <div class = 'form-field'>
                    <div class = 'form_control'>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="Submit" value = 'Create' >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}