{% extends 'base.html'%}

{% block title %} Create Pizza{% endblock %}

{% block content%}

<h5> Add pizza to menu</h5>
<hr>
    <div class="row">
        <div class="col-lg-12">
	    	<div class="box-element">
                <div class = 'form-field'>
                    <div class = 'form_control' >
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="Submit" value = 'Create' >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
