{% extends 'base.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
        <div class="row">
	    <div class="col-lg-12">
         <div class="box-element">
    
    <h3>Reset Password</h3>
    <p> Forgotten your password? Don't worry. Enter your email adress below, 
        and we'll email instructions</p>
        
		   
                <div class = 'form_field'>  
                    <form action="" method="post">
                        {% csrf_token %}
                         {{ form }}
                        <input type="Submit" value = 'Send' >
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}