{% extends 'base.html' %}

{% block content %}
    <h3>Details Order No: {{order.id}}</h3>
    
    
    <div class = "box-element">
        
        <div style = "flex:2"><a  class="btn btn-outline-dark" href="{% url 'cart-view'%}">&#x2190; Back to cart</a></div>
        <hr/>
        <div>Payment Status: <span id="payment"><i>loading</i></span></div>
    </div>
    <script>
        function updatePaymentStatus(){
            var status = document.querySelector('#payment');
            status.innerHTML = '<i>loading...</i>';
            fetch('/order-status/{{ order.id }}')
            .then(response => response.json())
            .then(data => {
                if(data.payment_status == 'WAITING'){
                    status.innerHTML = 'Waiting...';
                    setTimeout(updatePaymentStatus,3000);
                }else if (data.payment_status == 'SUCCESS') {
                    status.innerHTML = 'Finished! Thanks!';
                }else if (data.payment_status == 'ERR') {
                    status.innerHTML = 'Error payment';
                }else {
                    status.innerHTML = 'Error checking payment';
                    setTimeout(updatePaymentStatus,3000);
                }
            })
            .catch(error => {
              console.error('Error:', error);
          });
        }
        setTimeout(updatePaymentStatus,500);
    </script>
{% endblock %}